<body class="bgmenu1 ">
  <!-- Menu -->
  <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-headerGreen" style="margin-top:15px;">
              <div class="dropdown profile-element">
                <img src="./assets/logo.png" width="180%" style="margin-left:-60px; margin-top:-20px; ">
              </div>
              <li class="nav-headerGreen">
                <div class="logo-element">
                    <img src="./assets/logo_small.png" width="120%"  style="margin-left:-10px; margin-top:-10px;">
                </div>
              </li>
              <li  style="margin-top:0px;"    routerLinkActive="active" >
                  <a routerLink="/home"  [class.active]="isLinkActive('/home')" ><i class="famenu fa-home "></i> <span class="nav-label ">User Management</span></a>
              </li>

          </ul>
        </div>
      </nav>
    </div>

    <div class="HeaderColor" style="height:10px;"></div>

    <div id="page-wrapper" class="gray-bg" >
      <!-- Header -->
      <div class="row " >
            <div class="bgshadowx" ></div>
          <nav class="navbar navbar-static-top" role="navigation" >
            <!-- hamburger -->
            <div class="navbar-header ">
              <a class="navbar-minimalize minimalize-styl-2 fontmenuicon btn btn-ais"  style="margin-top:18px;"><i class="fa fa-bars"></i> </a><p class="pull-right m-l" style="margin-top:25px;">Welcome to Trans-B System</p>
            </div>
            <!-- Profile -->
            <ul class="nav navbar-top-links navbar-right m-t-xs m-r-none">
                    <li>
                        <span class="m-r-sm text-muted welcome-message"></span>
                    </li>
                    <!-- Profile Picture -->
                    <li >
                      <img  alt="image" class="img-circle imguserlogin-nav" src="../assets/defalut_user_pic.png"/>
                    </li>

                    <!-- Profile Name -->
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"  >
                            <span class="text-muted text-xs block"> firstName lastName &nbsp;<b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a >
                                    <div>
                                        <i class="fa fa-user fa-fw"></i> My Profile
                                    </div>
                                </a>
                            </li>
                            <li>
                                  <a >
                                      <div>
                                         <i class="fa fa-lock fa-fw "></i> Change Password
                                      </div>
                                  </a>
                              </li>
                        </ul>
                    </li>
                    <!-- Log out -->
                    <li>
                        <a type="submit"  >
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
            </ul>
          </nav>
          <!-- shadow nav -->
          <img alt="image"  src="./assets/shadow.png"  class="m-t-n-md" style="width:100%; height:10px; border:none; position: absolute" />


      </div>
      <!-- Content -->
      <router-outlet></router-outlet>
      <small>
          <small>
              <small>
                  <div class="footer fontfooter">
                      <div class="pull-right">
                      AIS
                      </div>
                      <div>
                          <strong>TRAN - B</strong>
                      </div>
                  </div>
              </small>
          </small>
      </small>
    </div>
  </body>

