@charset "utf-8";
/* CSS Document */
.wrapper-content-custom{
	padding:10px 50px 50px 50px;
	}
	.modal-dialog-custom{
		width:450px;
		margin:250px auto !important;
	}
	.modal-dialog-custom1{
		width:800px;
		margin:20px auto !important;
	}
	.vertical-timeline-icon-permission {
	  position: absolute;
	  top: 0;
	  left: 0;
		padding-top: 2px;
	  width: 30px;
	  height: 30px;
	  border-radius: 50%;
	  font-size: 12px;
	  /*border: 3px solid #f1f1f1;*/
	  text-align: center;
	}
	.fontyellow{
		color:#FDB815 !important;
	}
	.fontwhite{
		color:#ffffff !important;
	}
	.bgyellow{
		background-color:#FDB815;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bggreen{
		background-color:#8ab43a;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bgred{
		background-color:#ec4758;
		height: 80px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.bgtablegray{
		background-color: #f9f9f9;
	}
	.btn-pm:hover, .btn-pm:focus, .btn-pm:active, .btn-pm.active, .open .dropdown-toggle.btn-pm, .btn-pm:active:focus, .btn-pm:active:hover, .btn-pm.active:hover, .btn-default.active:focus{
		background-color: #e1f5b9;
		color:#5d8c0e;

	}





	.fontred{
		color:#ec4758 !important;
	}
	.nav > li > a:focus, .nav > li > a:hover{
		background-color:transparent;
		color: #78a817;
	}
	.lineGG{
		border: solid #8dc73f;
		border-width:2px;
		width:70px;
		margin-bottom: 20px;
		}
	.navy-bg{
		padding-top:5px;
	}
	.table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > tr > th, .table-hover > tbody > tr:hover > .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover,
	.table-hover > tbody > tr:hover  {
		background-color:#dff0d8;
	}
	/*..table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover{
		background-color:#000;



	}

	table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover{
		background-color:#000;



	}*/

.inmodal .modal-header1{
     padding: 30px 15px;
		 text-align:center;
}
.inmodal .modal-header2{
     padding: 20px 15px;

}
	.shadowrow{
		border-color:#e7eaec;
		border-style:solid solid none;
		border-width:3px 0 0;
	}
	.m-t-60{
		margin-top:60px;
	}
	.m-t-80{
		margin-top:80px;
	}
	.pagename-custom {
	   padding-left:60px;
		 padding-right:50px;
	}
	.bc-green{
		color: #78a817;
	}
.HeaderColor{
  width:100%;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #7bb418, #80b638 , #568714); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #7bb418, #80b638 , #568714); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #7bb418 , #80b638, #568714); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #7bb418, #80b638 , #568714); /* 498f1f Standard syntax (must be last) */
	}
.heightlist{
	min-height:620px;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
	background-color: #e1f5b9 !important;
  color: #5d8c0e !important;
  border-color: #abdb64 !important;
}
.fonttextbox{
   color:#555555;
}
.fontlink{
   color:#76a717;
}
.fontlink:hover{
   color:#5d8c0e;
}
.fontclose{
   color:#C00632;
}
.fontselect{
   color:#76a717;
}
div.dataTables_wrapper div.dataTables_filter{
 display: block;
}
.vertical-timeline-icon{
  border: none !important;
}
	.label-active{
		background-color: #7bb418;
	  color: #FFFFFF;
		padding-left: 12px;
		padding-right: 12px;
	}
	.label-inactive{
		background-color: #c00632;
		color: #FFFFFF;
  }
  .label-new{
		background-color: #1856b4;
	  color: #FFFFFF;
		padding-left: 12px;
		padding-right: 12px;
	}
	.label-disable{
		color: #FFFFFF;
		background-color: #dddddd;
  	border-color: #d9d9d9;
	}
	.label-img{
		background-color: #1856b4;
	  color: #FFFFFF;
		padding-left: 12px;
		padding-right: 12px;
	}
.borderprofile{
	border:0.5px solid #fff;
	width:100%;
	opacity:0.1;
	}
	.bordercontent{
		margin-top: 15px;
		border-bottom: 1px solid #ccc;
		width:100%;
		}
	.nav-second-level > li.active > a{
		color:#000000;
	}
.bgshadowx{
  width:100%;
  background: black;
  opacity:0.1;
  height:5px !important;
	/* margin-left: 221px; */
	}
.bgshadowy{
  width:5px !important;
  background: black;
  opacity:0.1;
  height:100%;
	}
.imguserlogin{
  width:55px;
  height:55px;
  border:3px solid #ffffff;
	margin-top:-20px;
	}
	.imguserlogin-nav{
	  width:45px;
	  height:45px;
	  border:1px solid #cccccc;
		margin-top:-10px;
		}
	.imgelement{
	  width:150px;
	  height:123px;
	  border:3px solid #ffffff;
		}
		.imgimp{
		  width:150px;
		  height:150px;
		  border:3px solid #ffffff;
			}
.fontgroupname{
	font-size: 25px;
	font-weight: 500;

}
.fontuser{
	font-size: 20px;
	font-weight: 500;

}
.fonth4{
	font-size: 15px;
}
.imgdescription{
	width:120px;
	height:120px;
  margin-top:-10px;
	margin-bottom:10px;
		}
.fontdescription-2{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#eaeaea;
	}
.imggroup{
	width:50px;
	height:50px;
	margin-top:-5px;
	margin-bottom:10px;
		}
.btnaction{
  display:inline-block;
  padding:12px 12px 12px 12px;
  font-size:12px;
  font-weight:400;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  touch-action:manipulation;
  cursor:pointer;
  user-select:none;
  background-image:none;
  line-height:1.42857143;
  border:1px solid;
  border-radius:3px;
}
.btnaction.active:active,
.btnaction.active:hover,
.btnaction.active:focus {
  border:1px solid;
  border-radius:3px;
}
.bggray{
	background-color: #cccccc;
	height: 80px;
	padding-top:20px;
}
/*.img-circlegroupuser{
  width: 200px;
  height: 200px;
	border-radius: 50%;
}*/
.bgnone{
	background-color:transparent;
	}
.fontbtn{
		font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#ffffff;
	}
.fontdescription{
		font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:30px;
	color:#eaeaea;
	}
	.fontdescription1{
			font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color:#eaeaea;
		}
	.fontcreatepagename{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:18px;
		font-weight:100;
		/*color:#78a817;*/
		color:#676A6C;
		}

.ui-jqgrid .ui-jqgrid-title{
  margin-top: 8px !important;
	margin-left: 8px !important;
}
.fontpage{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:25px;
	font-weight:100px;
	color:#000000;
	}
	.fontgreen{
		font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:16px;
		font-weight:100px;
		color:#8ab43a ;
		}
.fontname{
	color:#a2f600;
	}
.fontfooter{
	color:#9f9f9f;
	}
.linemenu{
	line-height:35px;
	}
.linepermission{
		line-height:25px;
}
.bgmenu {
	clear: both;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	background-image:url(../img/bgmenu.png)repeat-x;
  background-repeat:no-repeat;
	position: absolute;
}
.hr-line-dashed-custom {
  border-top: 1px dashed #ccc;
  color: #000;
  height: 1px;
  margin: 10px 0;
}
.bgbreadcrumb{
   background-color:#f3f3f4; /**#E0E0E0;/
   padding-left:20px;
   padding-top:8px;
   padding-bottom:0px;
   border-radius:0px;
   width:100%;
}
.fontmenuicon{
	color:#ffffff; /*70a418*/
}
.bgmininavber{
	font-size:40px;
	margin-top:15px;
	color:#a2f600;
	height:60px;
	}

.nav-headerGreen {
  padding: 3px 35px 0px;
  /*background-color:#70a418;*/

}
.vertical-timeline-content-custom{
	margin-top:10px;
	position: relative;
	margin-left: 60px;
	background: white;
	border-radius:10em;
	width:200px;
	padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
}
.nav-headerGreen a {
  /*color: #000000;*/
}
.nav-headerGreen .text-muted {
  color: #ffffff;
  opacity:0.5;
}
body.mini-navbar .nav-headerGreen {
	padding: 0;
}
body.canvas-menu .nav-headerGreen {
  padding: 33px 25px;
}
body.mini-navbar.fixed-sidebar .nav-headerGreen {
  padding: 20px 25px;
}
.jstree-default .jstree-anchor{
	height: 40px !important;
}
.machinebox{
	width: 250px;
	height:45px;
}
.lineip{
	line-height:10pt
}
.fontcomponent{
	color:#ed5565;
	font-style: italic;
	margin-top: -10px;
}
