.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid.required ,.ng-invalid[required]  {
border-left: 5px solid #a94442; /* red */
}
.form-alert-danger {
color: #ff0400;

border-color: #ebccd1;
}
.btn-edit-factor{
    color: #333;
    /* background-color: #fff; */
    border-color: #ccc;
}
.btn-edit-factor:hover {
    color: #333;
    /* background-color: #e6e6e6; */
    border-color: #adadad;
}
.v-center {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
.vcenter {
    vertical-align: middle;
    text-align: center;
    float: none;
}
.vright {
    vertical-align: right;
    text-align: right;
    float: none;
}
.btn-active {
    color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-active:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
.btn-activate {
    color: #fff;
  background-color: #7bb418;
  border-color: #7bb418;
}
.btn-activate:hover {
    color: #fff;
    background-color: #8acb1b;
    border-color: #8acb1b;
  }
.btn-deactivate {
    color: #fff;
  background-color: #c00632;
  border-color: #c00632;
}
.btn-deactivate:hover {
    color: #fff;
    background-color: #ec4758;
    border-color: #ec4758;
  }
.btn-activate.disabled,
.btn-activate.disabled:hover,
.btn-activate[disabled],
.btn-activate[disabled]:hover,
.btn-deactivate.disabled,
.btn-deactivate.disabled:hover,
.btn-deactivate[disabled],
.btn-deactivate[disabled]:hover{
  background-color: #aaaaaa;
  border-color: #bbbbbb;
}
.file {
    position: relative;
    overflow: hidden;
    color:white;
    background-color: #1c84c6
}
.input{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
  .file:hover {
    color:white;
    background-color:#1c84c6
}
.mb-card{
    margin-top: 20px
}


/*for state in history*/
.label-history{
    width: 76px;
    height: 20px;
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: 2px;

}
.state-draft-history{
    background-color: #ababab;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    width: 75px;
}
.state-submit-history{
    background-color: #337ab7;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    width: 75px;
}
.state-cancel-history{
    background-color: #ababab;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    width: 75px;
}
.state-approve-history{
    background-color: #7bb418;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    width: 75px;
}
.state-reject-history{
    background-color: #c00632;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    width: 75px;
}
.state-inprogress-history{
    background-color: #f0ad4e;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    width: 75px;
}
.state-waitforapprove-history{
    background-color: #f0ad4e;
    color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
}
.multiple-select-history{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*for state in history*/


.state-draft{
    background-color: #ababab;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    width: 70px;
}
.state-submit{
    background-color: #337ab7;
    color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 70px;
}
.state-cancel{
    background-color: #ababab;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    width: 70px;
}
.state-approve{
    background-color: #7bb418;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    width: 70px;
}
.state-reject{
    background-color: #c00632;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    width: 70px;
}
.state-inprogress{
    background-color: #f0ad4e;
    color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 70px;
}
.state-waitforapprove{
    background-color: #f0ad4e;
    color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 100px;
}
.multiple-select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-sum {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.justify-content-start {
text-align: left;
}

.justify-content-end {
text-align: right;
}

.justify-content-end .btn-group {
float: none;
}
.state-user-new{
    background-color: #1c84c6;
  color: #FFFFFF;
    padding: 5px 12px 5px 12px;
    display: inline-block;
    width: 60px;
}
.state-user-active{
    background-color: #7bb418;
  color: #FFFFFF;
    padding: 5px 12px 5px 12px;
    display: inline-block;
    width: 60px;
}
.state-user-inactive{
    background-color: #c00632;
  color: #FFFFFF;
    padding: 5px 12px 5px 12px;
    display: inline-block;
    width: 60px;
}
.modal-header{
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #5d8c0e;
  color: #FFFFFF;
}
.modal-success{
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}
.modal-warning{
  padding: 15px;
  border-bottom: 1px solid #FDB815;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}
textarea {
  resize: none;
}


.table-border-default {
  border: 1px solid #ddd;
}
.table-border-default > thead > tr > th,
.table-border-default > thead > tr > td {
  background-color: #ddd;
  border-bottom-width: 2px;
  background-color: transparent;
}
.table-border-default > thead > tr > th,
.table-border-default > tbody > tr > th,
.table-border-default > tfoot > tr > th,
.table-border-default > thead > tr > td,
.table-border-default > tbody > tr > td,
.table-border-default > tfoot > tr > td {
  border: 1px solid #ddd;
}
.align-center{
  text-align: center;
  vertical-align: middle !important;
}
.align-money{
  text-align: right;
  vertical-align: middle!important;
}
.align-number{
  text-align: center;
  vertical-align: middle!important;
}
