<div class="row wrapper white-bg page-heading bgnone">
  <div class="col-lg-12 col-sm-12 col-md-12  pagename-custom">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="fontpage ">Home Management </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-right" style="margin-top:0px;">

        <a class="btnaction btn-w-m btn-ais " data-toggle="modal" data-target="#createDep" data-placement="top" title=""
          data-backdrop="static" data-keyboard="false" id="btnCreate">
          <i class="fa-buttom fa-plus"></i>Create New Home</a>
      </div>
    </div>
    <br>
    <ol class="breadcrumb bgbreadcrumb m-t-n">
      <li>
        <p>
          <i class="fa fa-folder m-r-sm"></i>Administration
          <p>
      </li>
      <li class="bc-green">
        <strong>Home Management</strong>
      </li>
    </ol>
  </div>

</div>

<div class="wrapper wrapper-content-custom  animated fadeInRight">
  <div class="row">

    <div class="col-sm-12">
      <div class="ibox">

        <div class="ibox-content heightlist shadowrow">
          <br>

          <!--List-->

        </div>
        <!--End List-->

      </div>
    </div>
  </div>



  <div class="modal fade" id="createDep" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="addLabel">Create New Home</h1>
        </div>
        <form >
          <div class="modal-body">
            <div class="panel-body">

            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btnSave"  class="btnaction btn-w-m btn-ais m-r-xxs"
              data-toggle="tooltip" data-placement="top" title="">
              <i class="fa-buttom fa-save (alias)"></i>Save</button>
            <a data-dismiss="modal" id="btnCancel" class="btnaction btn-w-m btn-default " data-toggle="tooltip" data-placement="top"
              title="" >
              <i class="fa-buttom fa-times"></i>Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>

